h1 {
    background-color: black;
    padding: 1rem;
    color: white;
}

p {
    color: blueviolet
}

.container__main {
    container: main / inline-size;
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 1rem;
    padding: 1rem;
    gap: 0.5rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 'content' 'language';
}

.section__language {
    grid-area: language;
    padding: 0.30rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: auto;
    height: fit-content;
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    padding: 1rem;
}

.selection {
    padding-inline: 1rem;
}

.selection__label {
    font-size: 1rem;
    font-weight: bolder;
    line-height: normal;
}

.language__dropdown {
    height: fit-content;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    font-size: large;
    padding: 0.35rem;
    width: 20rem;
    cursor: pointer;

    & option {
        font-size: 1.5rem;
        color: rgb(72, 40, 36);
        padding: 0.5rem;
        font-style: italic;
        cursor: pointer;

        & :hover {
            background-color: #050c21;
            color: khaki;
        }
    }
}

.section__content {
    grid-area: content;
    grid-auto-flow: row;
    display: grid;

    & label {
        font-size: 2rem;
        color: rgb(64, 117, 203);
    }
}

.content {
    width: auto;
    min-height: calc(1.5rem * 4);
    height: 41vh;
    border: 0.25rem solid black;
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    field-sizing: content;
    resize: none;
    border-radius: 0.5rem;
    margin: 1rem;
}


.error__message {
    display: none;
    color: red;
    font-size: 1.25rem;
    font-weight: bolder;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.25rem;
}

.container__btn {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

.btn {
    width: 10rem;
    height: 2rem;
    border: 1px solid rgba(67, 101, 190, 0.5);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn__translate {
    background-color: #113caf;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.btn__reset {
    background-color: #ccd0dd;
    color: #000;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.center {
    height: auto;
    position: fixed;
    top: 15rem;
    left: 10rem;
    width: 80vw;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@container main (width < 800px) {
    .section__language {
        grid-auto-flow: row;
    }
}

footer {
    position: relative;
    bottom: 0;
    border:1px solid grey;
    padding: 1rem;
}

.loader {
    display: none;
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #f03355) content-box;
    mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn)
    }
}